{% load staticfiles %}

<!DOCTYPE html>
<html lang ="es">
<link rel="stylesheet" href="{% static 'predicterapp/style.css' %}">

<div class="basic">
{% include "predicterapp/header.html" %}    
</div>

<h1>DATOS EN LA BBDD</h1>

{% if BBDD %}
	{% for nombre, fechaInicio, fechaFin, tam in BBDD %}
        <a id="miDato">- Datos de {{nombre}} con {{tam}} entradas en la Base de Datos entre las fechas {{fechaInicio}} y {{fechaFin}}</a><br/>
    {% endfor %}
{% else %}
    <p>No hay datos.</p>
{% endif %}


<div class="divfooter">
{% include "predicterapp/footer.html" %}
</div>
</html>