{% load staticfiles %}

<!DOCTYPE html>
<html lang ="es">
<link rel="stylesheet" href="{% static 'predicterapp/style.css' %}">

<ul id="jMenu">
  <li><a class="active" href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'datos' %}">Datos almacenados</a></li>
  <li><a href="{% url 'preProcesamiento' %}">Pre-Procesamiento</a></li>
  <li><a href="{% url 'regresion' %}">Regresion</a></li>
  <li><a href="{% url 'supervisado' %}">Supervisado</a></li>
  <li><a href="{% url 'noSupervisado' %}">No Supervisado</a></li>
</ul>

</html>